<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-head">
        <h6 class="offcanvas-title text-white" id="offcanvasScrollingLabel">Menú</h6>
        <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-grid gap-2">
            <a href="index.php" class="btn btn-outline-primary d-flex align-items-center" type="button">
                <i class="bi bi-file-text me-2" style="font-size: 1.5rem;"></i> Bitacora
            </a>
            <a href="filters.php" class="btn btn-outline-primary d-flex align-items-center" type="button">
                <i class="bi bi-file-text me-2" style="font-size: 1.5rem;"></i> Informes y filtros
            </a>
            <button class="btn btn-outline-primary d-flex align-items-center" type="button">
                <i class="bi bi-graph-up me-2" style="font-size: 1.5rem;"></i> Seguimiento carreras
            </button>
            <button class="btn btn-outline-primary d-flex align-items-center" type="button">
                <i class="bi bi-mortarboard me-2" style="font-size: 1.5rem;"></i> Seguimiento asignaturas
            </button>
            <button class="btn btn-outline-primary d-flex align-items-center" type="button">
                <i class="bi bi-journal-text me-2" style="font-size: 1.5rem;"></i> Seguimiento áreas P.A.
            </button>
            <button class="btn btn-outline-primary d-flex align-items-center" type="button">
                <i class="bi bi-person-lines-fill me-2" style="font-size: 1.5rem;"></i> Contacto estudiante
            </button>
        </div>
    </div>
</div>